{% extends 'main.html' %}
{% block content %}
{% if number < 40 %}
<p>{{message}}</p>
<p>{{msg}}</p>
{%else%}
<p>Keep going</p>
{% endif %}
<ul>
    {% for proj in projlst %}
    <li><a href="{%url 'project1' proj.id %}">{{proj.title}}-----{{proj.id}}-----{{proj.added_time}}</a> <span><a href="{%url 'update-project' proj.id %}">Edit</a></span>  <span><a href="{%url 'delete-project' proj.id %}">Delete</a></span></li>
    {%endfor%}
</ul>
<h1>Insha'Allah I will be there</h1>
{% endblock content %}